<div class="section-title">
  Social Accounts
</div>
<% if @user_registration.user_authentications %>
    <% unless @user_registration.user_authentications.empty? %>

        <p><strong><%= t(:you_have_signed_in_with_these_services) %>:</strong></p>

        <div class="authentications">
          <% for user_authentication in @user_registration.user_authentications %>
              <div class="authentication">

              <p class="text-transparent"><i class="social-link icon-<%= user_authentication.provider %> custom "></i>
                <%= "#{user_authentication.provider.camelize} " %>
                <%#= link_to '<i class="icon-remove "></i>'.html_safe, '#', :remote => true %>
              </p>

                <%#= link_to "Delete", user_authentication, :class => "removeAuth" %>
              </div>
          <% end %>
          <div class="clear"></div>
        </div>
    <% end %>

<% end %>
<%= content_tag(:p, content_tag(:strong, t(:add_another_service_to_sign_in_with))) %>
<%= render :partial => "shared/social_buttons" %>
<style>
    .icon-facebook.custom {
        color: #3b5998;
        font-size: 25px;
    }

    .icon-twitter.custom {
        font-size: 25px !important;
        color: rgb(0, 173, 255);
    }
</style>
<!--Used in account page.-->
<script>
    $(document).ready(function () {
        has_password = <%= @user_registration.has_password? %>;
        $('.removeAuth').click(function (e) {
            e.preventDefault();
            if (confirm('<%=  t(:remove_authentication_option_confirmation) %>')) {
                if (!has_password) {
                    e.preventDefault();
                    $('.default_fancybox').trigger('click');
                    $("<div class='flash hideit warning'><div class='center_warning'><p><%= t(:need_to_define_password) %><span><%= t(:close) %></span></p></div></div>").insertBefore('#widget_form');
                }
                else if (has_password) {
                    $.ajax({
                        type:'POST',
                        url:$(this).attr("href"),
                        data:{
                            _method:'delete',
                            authenticity_token:AUTH_TOKEN
                        },
                        dataType:'script',
                        success:function (response) {
                            el.parents("tr").fadeOut('hide');
                        },
                        error:function (response, textStatus, errorThrown) {
                            show_flash_error(response.responseText);
                        }
                    });
                }
            }
        });
    });


</script>
<%# end -----------------------------------Spree social ---------------------------------- %>
