<%= content_for :before_content do %>
    <div id="slider">

      <div class="container">

        <ul>

          <% @posts.each do |post| %>


              <li>

                <%= image_tag post.images.first.attachment.url(:original), :style => "height: 330px; width:1010px;" %>

                <div class="slide-info">

                  <h2><a href="/<%= post.permalink %>"><%= post.title %></a></h2>

                  <p class="meta">Published on <a href="#"><%= post.updated_at.to_date.strftime("%A, %B %d, %Y") %></a>
                    by
                    <a href="#">YCB</a></p>

                  <p><%= post.body.truncate(440).html_safe if post.body %></p>

                  <a href="#" class="comments-count">44 Comments</a>

                  <a href="/<%= post.permalink %>" class="slider-button">Read More...</a>

                </div>
                <!-- end .slide-info -->

              </li>


          <% end %>


        </ul>

      </div>
      <!-- end .container -->

    </div><!-- end #slider -->

<% end %>
<div id="trips-viewer" class="box">

  <div class="box-header">

    <ul class="tabs-nav">
      <li><a href="#featured-trips">Featured Trips</a></li>
      <li><a href="#popular-trips">Popular Trips</a></li>
      <li><a href="#most-viewed-trips">Most Viewed Trips</a></li>
    </ul>


    <a href="#" class="rss"><img src="/assets/icon-rss-small.png" alt="icon-rss"/></a>

  </div>
  <!-- end .box-header -->

  <div id="featured-trips" class="tab-content">

    <div class="trips-container">

      <ul>
        <% @posts.each do |post| %>
            <li id="featured-slide-one" class="trip-content">

              <a href="/<%= post.permalink %>">
                <%= image_tag post.images.first.attachment.url(:product), :width => "242", :class => "entry-image", :height => "88" %>
                <h4 class="title"><%= post.title %></h4>
              </a>

              <p class="meta">Published on <a href="#"><%= post.updated_at.to_date.strftime("%A, %B %d, %Y") %></a> by
                <a href="#">YCB</a></p>

              <p><%= post.body.truncate(440).html_safe if post.body %></p>
              <a href="#" class="sent-to-friend">Sent to a Friend</a>
              <a class="button" href="/<%= post.permalink %>">Read More...</a>

            </li>

        <% end %>
        <!-- end #slide-one -->


      </ul>

    </div>
    <!-- end .trips-container -->

    <ul class="trips-nav">


      <% @posts.each do |post| %>

          <li class="nav-button">
            <div class="content">
              <a href="#featured-slide-one" class="title">
                <%= image_tag post.images.first.attachment.url(:small), :width => "60", :class => "entry-image", :height => "60" %>
                <h6><%= post.title %></h6>
              </a>

              <p class="meta">Published on <a href="#"><%= post.updated_at.to_date.strftime("%A, %B %d, %Y") %></a> by
              <ul class="links">
                <li><a href="#">122 Comments</a> <span class="separator">|</span></li>
                <li><a href="#">9 Tweets</a> <span class="separator">|</span></li>
                <li><a href="#">Read More...</a></li>
              </ul>
            </div>
            <!-- end .content -->
          </li>
          <!-- end .nav-button -->

      <% end %>
    </ul>
    <!-- end .trips-nav -->

  </div>
  <!-- end #featured-trips -->

  <div id="popular-trips" class="tab-content">

    <div class="trips-container">

      <ul>

        <!-- end #slide-one -->

        <% @posts.each do |post| %>

            <li id="popular-slide-one" class="trip-content">

              <a href="/<%= post.permalink %>">
                <%= image_tag post.images.first.attachment.url(:product), :width => "242", :class => "entry-image", :height => "88" %>
                <h4 class="title"><%= post.title %></h4>
              </a>

              <p class="meta">Published on <a href="#"><%= post.updated_at.to_date.strftime("%A, %B %d, %Y") %></a> by

              <p><%= post.body.truncate(440).html_safe if post.body %></p>
              <a href="#" class="sent-to-friend">Sent to a Friend</a>
              <a class="button" href="/<%= post.permalink %>">Read More...</a>

            </li>

        <% end %>
      </ul>

    </div>
    <!-- end .trips-container -->

    <ul class="trips-nav">


      <% @posts.each do |post| %>

          <li class="nav-button">
            <div class="content">
              <a href="#popular-slide-one" class="title">
                <%= image_tag post.images.first.attachment.url(:product), :width => "60", :class => "entry-image", :height => "60" %>
                <h6><%= post.title %></h6>
              </a>

              <p class="meta">Published on <a href="#"><%= post.updated_at.to_date.strftime("%A, %B %d, %Y") %></a> by
              <ul class="links">
                <li><a href="#">34 Comments</a> <span class="separator">|</span></li>
                <li><a href="#">14 Tweets</a> <span class="separator">|</span></li>
                <li><a href="#">Read More...</a></li>
              </ul>
            </div>
            <!-- end .content -->
          </li>
          <!-- end .nav-button -->


      <% end %>
    </ul>
    <!-- end .trips-nav -->

  </div>
  <!-- end #popular-trips -->

  <div id="most-viewed-trips" class="tab-content">

    <div class="trips-container">

      <ul>


        <% @posts.each do |post| %>
            <li id="most-viewed-slide-one" class="trip-content">

              <a href="/<%= post.permalink %>">
                <%= image_tag post.images.first.attachment.url(:product), :width => "242", :class => "entry-image", :class => "entry-image", :height => "88" %>
                <h4 class="title"><%= post.title %></h4>
              </a>

              <p class="meta">Published on <a href="#"><%= post.updated_at.to_date.strftime("%A, %B %d, %Y") %></a> by
                <a href="#">YCB</a></p>

              <p><%= post.body.truncate(440).html_safe if post.body %></p>
              <a href="#" class="sent-to-friend">Sent to a Friend</a>
              <a class="button" href="/<%= post.permalink %>">Read More...</a>

            </li>

        <% end %>

      </ul>

    </div>
    <!-- end .trips-container -->

    <ul class="trips-nav">

      <% @posts.each do |post| %>

          <li class="nav-button">
            <div class="content">
              <a href="#popular-slide-one" class="title">
                <%= image_tag post.images.first.attachment.url(:product), :width => "60", :class => "entry-image", :height => "60" %>
                <h6><%= post.title %></h6>
              </a>

              <p class="meta">Published on <a href="#"><%= post.updated_at.to_date.strftime("%A, %B %d, %Y") %></a> by
              <ul class="links">
                <li><a href="#">34 Comments</a> <span class="separator">|</span></li>
                <li><a href="#">14 Tweets</a> <span class="separator">|</span></li>
                <li><a href="#">Read More...</a></li>
              </ul>
            </div>
            <!-- end .content -->
          </li>
          <!-- end .nav-button -->


      <% end %>

    </ul>
    <!-- end .trips-nav -->

  </div>
  <!-- end #most-viewed-trips -->

</div><!-- end #trips-viewer -->

<% @posts.each do |post| %>


    <div class="entry">

      <div class="entry-header">

        <h2 class="title"><a href="/<%= post.permalink %>"><%= post.title %></a></h2>

        <p class="meta">Published on <a href="#"><%= post.updated_at.to_date.strftime("%A, %B %d, %Y") %></a> by
          <a href="#">YCB</a></p>

        <a href="/<%= post.permalink %>" class="button">Read More...</a>

      </div>
      <!-- end .entry-header -->

      <div class="entry-content">

        <a href="/<%= post.permalink %>">
          <%= image_tag post.images.first.attachment.url(:product), :width => "240", :height => "140", :class=>"entry-image" %>
        </a>

        <p><%= post.body.truncate(440).html_safe if post.body %></p>
        <hr/>

        <ul class="entry-links">
          <li><a href="#">Send to a Friend</a> <span class="separator">|</span></li>
          <li><a href="#">Share this /<%= post.permalink %></a> <span class="separator">|</span></li>
          <li><a href="#">41 Comments</a> <span class="separator">|</span></li>
          <li><a href="#">0 Tweets</a></li>
        </ul>

      </div>
      <!-- end .entry-content -->

    </div><!-- end .entry -->
<% end %>
<%= paginate @posts, :theme => "bootstrap_theme" %>

<%#= image_tag @friend.avatar.url(:medium) %>
