<%= javascript_include_tag "jquery.cleditor.min" %>
<%= stylesheet_link_tag "jquery.cleditor" %>
<div class="row-fluid">
  <div class="span6">
    <div class="padded">
      <div class="section-title">
        Web Page Details
      </div>
      <div class="vpadded">
        <div class="input full-width">
          <%= f.text_field :title, :placeholder => "title" %>
        </div>
        <div class="input full-width">
          <%= f.text_area :body, :placeholder => 'body', :class => "cleditor", :style => "height:300px;" %>
        </div>
        <div class="input full-width">
          <%= f.text_area :metatags, :placeholder => 'meta' %>
        </div>
        <%= f.fields_for :images do |im| %>
            <div class="input">
            <%= im.file_field :attachment %> </div>
        <% end %>


      </div>
    </div>
  </div>

</div>

<div class="row-fluid">
  <div class="span6">
    <div class="padded">
      <div class="vpadded">
        <%= f.submit "Save", :class => "btn medium-blue" %> or
        <%= link_to "Cancel", admin_posts_path %>
      </div>
    </div>
  </div>
</div>
<script>
    /* ---------- Text editor ---------- */
    if($('.cleditor')) {

        $('.cleditor').cleditor();

    }
</script>